user  nginx;
worker_processes 1;

error_log  /dev/stderr notice;
pid        /run/nginx.pid;

events {
    worker_connections  1024;
}

http {
  include       /etc/nginx/mime.types;
  default_type  application/octet-stream;

  log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                    '$status $body_bytes_sent "$http_referer" '
                    '"$http_user_agent" "$http_x_forwarded_for"';

  access_log  /dev/stdout;

  sendfile        on;
  server_tokens   off;
  keepalive_timeout  65;
  proxy_read_timeout 60s;
  proxy_send_timeout 60s;
  client_max_body_size 1m;

  map $http_x_forwarded_proto $proxy_x_forwarded_proto {
    default $http_x_forwarded_proto;
    ''      $scheme;
  }
  map $http_x_forwarded_port $proxy_x_forwarded_port {
    default $http_x_forwarded_port;
    ''      $server_port;
  }
  include /etc/nginx/http.d/*.conf;
}
