default_language_version:
    python: python3

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-added-large-files
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: debug-statements
    -   id: pretty-format-json
-   repo: https://github.com/psf/black
    rev: 23.10.1
    hooks:
    -   id: black
        args: ["--config=./{{ cookiecutter.backend_container_name }}/pyproject.toml"]
-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: 'v0.1.3'
    hooks:
        - id: ruff
-   repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
    -   id: isort
        args: ["--settings-path=./{{ cookiecutter.backend_container_name }}/pyproject.toml"]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
    -   id: codespell
# -   repo: https://github.com/pre-commit/mirrors-mypy
#     rev: v0.982
#     hooks:
#       - id: mypy
#         args: ["--config-file=./{{ cookiecutter.backend_container_name }}/pyproject.toml"]
